.members-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  width: 100%;
}

.member-list-member {
  max-width: 10rem;
  height: fit-content;
  align-self: baseline;
}

.member-list-member h2 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.member-list-member p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

img {
  max-width: 10rem;
}
